.header {
  width: 100%;
  height: 50px;
  background-color: blue;
  position: fixed;
  top: 0px;
  display: flex;
  z-index: 1;
}
.homeLabel{
  vertical-align: middle;
  text-align: center;
  margin-left: 20px;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  position: fixed;
  color: rgb(255, 255, 255);
  bottom: auto;
  cursor: pointer;
}
.korpica {
  width: 30px;
  background-color: red;
}
.ikonica {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: fixed;
  right: 0;
}
.ikonica:hover {
  background-color: orange;
}
.indeks {
  right: -3;
  top: 13;
  border: 2px solid;
  padding: 0 4px #424242;
}
